.Home-section{
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);

}
.heading{
    text-align: center;     
    margin-bottom: 20px;
    color: #333;
    border-top: 2px solid #28a745;
    padding-top: 10px;

}
.todo-list{
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #28a745;


    
}
li:last-child{
    border-bottom: none;
}


